<%= render partial: "layouts/very_header" %>

<h2><%= t('authentication') %></h2>

<div>
  <div class="auth_form">
    <%= form_for(:session, url: login_path) do |f| %>
        <table>
          <tr>
            <td class="auth_td"><%= f.label :email, t('email') %></td>
            <td class="auth_td"><%= f.email_field :email %></div></td>
          </tr>
          <tr>
            <td class="auth_td"><%= f.label :password, t('password') %></td>
            <td class="auth_td"><%= f.password_field :password %></td>
          </tr>
          <tr>
            <td class="auth_td"><%= f.submit t('enter') %></td><td></td>
          </tr>
        </table>
    <% end %>
  </div>
</div>
