<div class="users">
  <div class="slide">
    <table>
      <% @users.each do |u| %>
        <tr><td>
            <div class="user">
              <div class="avatar">
                <% if u.images.present? and u.images[0].file.present? %>
                  <%= link_to(image_tag(u.images[0].file.url, class:"avatar_image"), main_page_path(u.name)) %>
                <% end %>
              </div>
              <div class="username">
                <%= link_to u.name, main_page_path(u.name), class:"username_link" %>
              </div>
              <% if can? :update, u %>
                <div class="edit_links">
                  <%= link_to t('edit'), edit_user_path(u.id), class:"edit_link" %>
                  <%= link_to t('delete'), user_path(u.id), method: :delete, data: { confirm: t('delete_user_confirmation') }, class:"edit_link" %>
                </div>
              <% end %>
            </div>
            <br>
        </td></tr>
      <% end %>
      <% if can? :create, User %>
        <tr><td>
            <div class="new_user"><%= link_to t('new_user'), new_user_path, class:"new_user_link" %></div>
        </td></tr>
      <% end %>
    </table>
  </div>
</div>