<div class="new_and_edit">

  <h2><%= @action == :update ? t('updating_user') : t('creating_user') %></h2>
  <div class="table_div">
  <table>
    <% if @user.errors.any? or !@password_correct %>
        <tr><td>
        <div class="errors">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            <% unless @password_correct %>
              <li><%= t('wrong_password') %></li>
            <% end %>
          </ul>
        </div>
        </td></tr>
    <% end %>


    <tr><td>
    <% p "HERE", @user.id, @action %>
    <%= form_for @user, action: @action, html: { multipart: true }, method: @action == :update ? :PATCH : :POST do |f| %>
        <div class="params">
          <table>
            <tr>
              <td><%= t('username') %></td><td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <td><%= t('email') %></td><td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td><%= t('CSS') %></td><td><%= f.text_area :custom_css %></td>
            </tr>
            <% if @action == :update %>
              <tr>
                <td><%= t('old_password') %></td><td><%= f.password_field :current_password %></td>
              </tr>
            <% end %>
            <tr>
              <td><%= t('new_password') %></td><td><%= f.password_field :password %></td>
            </tr>
            <tr>
              <td><%= t('password_confirmation') %></td><td><%= f.password_field :password_confirmation %></td>
            </tr>
            <tr>
              <td><%= t('avatar') %></td>
              <td>
                <% if @user.images.present? and @user.images[0].file.present? %>
                    <%= image_tag @user.images[0].file.url %>
                <% end %>
                <%= f.file_field :file %>
                <%= f.hidden_field :file_cache %>
              </td>
            </tr>
            <tr>
              <td><%= f.submit @action == :update ? t('update') : t('create') %>  <%= submit_tag t('back'), :type => 'button', class:"back_button" %></td><td></td>
            </tr>
          </table>
        </div>
    <% end %>
    </td></tr>
  </table>
  </div>
</div>