
<div class="main_block">
  <div class="contents">
    <div class="welcome_text">
      Раз два три четыре пять<br>
      Вышел зайчик погулять<br>
      Вдруг охотник выбегает<br>
      Прямо в зайчика стреляет<br>
      Пиф паф ойойой<br>
      Умирает зайчик мой<br>
    </div>

    <div class="posts">

      <div><%= link_to "Написать новый пост", new_category_post_path(@username, @category.id), class:"new_post_link" %></div>
      <br>
      <br>

      <% @posts.each do |p| %>
          <div class="datetime">
            <%= p.created_at.to_time.strftime("%Y-%m-%d %H:%M") %>
          </div>
          <div class="post_name">
            <%= link_to p.name, post_path(@username, p.id), class:"post_name_link" %>
          </div>
          <div class="edit_links">
            <%= link_to "Редактировать", edit_post_path(@username, p.id), class:"edit_link" %>
            <%= link_to "Удалить", post_path(@username, p.id), method: :delete, data: { confirm: "Вы уверены, что хотите удалить этот пост?" }, class:"edit_link" %>
          </div>
          <div class="content">
            <%= sanitize(p.content) %>
          </div>
          <br>
      <% end %>
    </div>
  </div>
</div>