
<div class="main_block">
  <div class="contents">
    <% if @category.present? %>
      <% if can? :manage, @category %>
        <div>
        <%= link_to t('edit'), edit_category_path(@username, @category.id), class:"edit_category_link" %>
        <%= link_to t('delete'), category_path(@username, @category.id), method: :delete, data: { confirm: t('confirm_category_delete') }, class:"edit_category_link" %>
        </div>
      <% end %>
      <div class="welcome_text">
        <% if I18n.locale == :en and @category.english_description.present? %>
          <%= @category.english_description %>
        <% else %>
          <%= @category.description %>
        <% end %>
      </div>
    <% end %>
    <div class="posts">
      <% if can? :manage, @category and can? :create, Post %>
        <div><%= link_to t('new_post'), new_category_post_path(@username, @category.path), class:"new_post_link" %></div>
        <br>
        <br>
      <% end %>
      <% @posts.each do |p| %>
          <div class="datetime">
            <%= link_to (p.created_at.to_time + 3.hours).strftime("%Y-%m-%d %H:%M"), post_path(@username, p.id), class:"datetime_link" %>
          </div>
          <div class="post_name">
            <% post_name = '' %>
            <% if I18n.locale == :en and p.english_name.present? %>
                <% post_name = p.english_name %>
            <% else %>
                <% post_name = p.name %>
            <% end %>
            <%= link_to post_name, post_path(@username, p.id), class:"post_name_link" %>
          </div>
          <% if can? :manage, p %>
            <div class="edit_links">
              <%= link_to t('edit'), edit_post_path(@username, p.id), class:"edit_link" %>
              <%= link_to t('delete'), post_path(@username, p.id), method: :delete, data: { confirm: t('confirm_post_delete') }, class:"edit_link" %>
            </div>
          <% end %>
          <div class="content">
            <% if I18n.locale == :en and p.english_content.present? %>
                <%= sanitize(p.english_content) %>
            <% else %>
                <%= sanitize(p.content) %>
            <% end %>
          </div>
          <br>
      <% end %>
    </div>
  </div>
</div>