<div class="main_block">
  <div class="new_and_edit">

    <div><%= link_to @category.name, category_posts_path(@username, @category.path), class:"category_link" %></div>

<h2><%= @action == :update ? t('updating_post') : t('creating_post') %></h2>
    <div class="table_div">
      <table>
<% if @post.errors.any? %>
  <tr><td>
    <div class="errors">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </td></tr>
<% end %>

        <tr><td>
<%= form_for @post, url: {action: @action}, html: { multipart: true }, method: @action == :update ? :PATCH : :POST  do |f| %>
    <table>
      <tr>
        <td><%= t('post_name') %></td><td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= t('priority') %></td><td><%= f.text_field :priority, type: "number", max: 2147483647  %></td>
      </tr>
      <tr>
        <td><%= t('post_content') %></td><td><%= f.text_area :content %></td>
      </tr>
      <tr>
        <td><%= t('post_english_name') %></td><td><%= f.text_field :english_name %></td>
      </tr>
      <tr>
        <td><%= t('post_english_content') %></td><td><%= f.text_area :english_content %></td>
      </tr>
      <tr>
        <td><%= f.submit @action == :update ? t('update') : t('create') %></td><td></td>
      </tr>
    </table>
<% end %>
        </td></tr>
    </table>
  </div>
  </div>
</div>