
<div class="main_block">
  <div class="contents">
    <div class="posts">
      <div><%= link_to @category.name, category_posts_path(@username, @category.path), class:"category_link" %></div>

      <div class="datetime">
        <%= @post.created_at.to_time.strftime("%Y-%m-%d %H:%M") %>
      </div>
      <div class="post_name">
        <%= link_to @post.name, post_path(@username, @post.id), class:"post_name_link" %>
      </div>
      <% if can? :manage, @post %>
        <div class="edit_links">
          <%= link_to t('edit'), edit_post_path(@username, @post.id), class:"edit_link" %>
          <%= link_to t('delete'), post_path(@username, @post.id), method: :delete, data: { confirm: t('confirm_post_delete') }, class:"edit_link" %>
        </div>
      <% end %>
      <div class="content">
        <%= sanitize(@post.content) %>
      </div>
      <br>

    </div>
  </div>
</div>