
<div class="main_block">
  <div class="contents">
    <div class="posts">
      <% name = '' %>
      <% if I18n.locale == :en and @category.english_name.present? %>
          <% name = @category.english_name.split("\\n").join(" ") %>
      <% else %>
          <% name = @category.name.split("\\n").join(" ") %>
      <% end %>
      <div><%= link_to name, category_posts_path(@username, @category.path), class:"category_link" %></div>

      <div class="datetime">
        <%= @post.created_at.to_time.strftime("%Y-%m-%d %H:%M") %>
      </div>
      <div class="post_name">
        <% post_name = '' %>
        <% if I18n.locale == :en and @post.english_name.present? %>
            <% post_name = @post.english_name %>
        <% else %>
            <% post_name = @post.name %>
        <% end %>
        <%= link_to post_name, post_path(@username, @post.id), class:"post_name_link" %>
      </div>
      <% if can? :manage, @post %>
        <div class="edit_links">
          <%= link_to t('edit'), edit_post_path(@username, @post.id), class:"edit_link" %>
          <%= link_to t('delete'), post_path(@username, @post.id), method: :delete, data: { confirm: t('confirm_post_delete') }, class:"edit_link" %>
        </div>
      <% end %>
      <div class="content">
        <% if I18n.locale == :en and @post.english_content.present? %>
          <%= sanitize(@post.english_content) %>
        <% else %>
          <%= sanitize(@post.content) %>
        <% end %>
      </div>
      <br>

    </div>
  </div>
</div>