<div class="main_block">
  <% if @header_category.present? %>
    <% if can? :manage, @header_category %>
      <div>
      <%= link_to t('edit_header'), edit_category_path(@username, @header_category.id), class:"edit_category_link" %>
      <%= link_to t('delete_header'), category_path(@username, @header_category.id), method: :delete, data: { confirm: t('confirm_category_delete') }, class:"edit_category_link" %>
      </div>
    <% end %>
    <% if @header_category.description.present? %>
      <div class="welcome_text">
        <% if I18n.locale != :en %>
          <%=  sanitize(BlueCloth.new(@header_category.description).to_html) %>
        <% end %>
      </div>
    <% elsif @header_category.english_description.present? %>
      <div class="welcome_text">
        <% if I18n.locale == :en %>
            <%=  sanitize(BlueCloth.new(@header_category.english_description).to_html) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if can? :create, Category and can? :update, @user %>
      <p><%= link_to t('new_category'), new_category_path(@username), class:"new_category_link" %></p>
  <% end %>

  <% @categories.each do |c| %>
      <% if c.destination == "basic" %>
        <div class="category">

          <% if c.images[0].present? %>
            <%= link_to(category_posts_path(@username, c.path)) do %>
                <div class="center-cropped" style="background-image: url('<%= c.images[0].file.url %>');" ></div>
            <% end %>
          <% end %>

          <p>
          <% if I18n.locale == :en  and c.english_name.present? %>
            <%= link_to c.english_name.split("\\n").join(" "), category_posts_path(@username, c.path), class:"category_name_link" %>
          <% else %>
            <%= link_to c.name.split("\\n").join(" "), category_posts_path(@username, c.path), class:"category_name_link" %>
          <% end %>
          </p>
          <% if can? :manage, c %>
            <p>
            <%= link_to t('edit'), edit_category_path(@username, c.id), class:"edit_category_link" %>
            <%= link_to t('delete'), category_path(@username, c.id), method: :delete, data: { confirm: t('confirm_category_delete') }, class:"edit_category_link" %>
            </p>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>
