<div class="main_block">
  <% if @header_category.present? %>
    <% if can? :manage, @header_category %>
      <div>
      <%= link_to t('edit'), edit_category_path(@username, @header_category.id), class:"edit_category_link" %>
      <%= link_to t('delete'), category_path(@username, @header_category.id), method: :delete, data: { confirm: t('confirm_category_delete') }, class:"edit_category_link" %>
      </div>
    <% end %>
    <div class="welcome_text">
      <% if I18n.locale == :en  and @header_category.english_description.present? %>
        <%= @header_category.english_description %>
      <% else %>
        <%= @header_category.description %>
      <% end %>
    </div>
  <% end %>


  <% @categories.each do |c| %>
      <% if c.destination == "basic" %>
        <div class="category">
          <%= link_to(category_posts_path(@username, c.path)) do %>
              <div class="center-cropped" style="background-image: url('<%= c.images[0].file.url %>');"></div>
          <% end %>
          <br>
          <% if I18n.locale == :en  and c.english_name.present? %>
            <%= link_to c.english_name, category_posts_path(@username, c.path), class:"category_name_link" %>
          <% else %>
            <%= link_to c.name, category_posts_path(@username, c.path), class:"category_name_link" %>
          <% end %>

          <% if can? :manage, c %>
            <br>
            <%= link_to t('edit'), edit_category_path(@username, c.id), class:"edit_category_link" %>
            <%= link_to t('delete'), category_path(@username, c.id), method: :delete, data: { confirm: t('confirm_category_delete') }, class:"edit_category_link" %>
          <% end %>
        </div>
      <% end %>
  <% end %>
  <% if can? :create, Category and can? :update, @user %>
    <p><%= link_to t('new_category'), new_category_path(@username), class:"new_category_link" %></p>
  <% end %>
</div>