<div class="main_block">
  <% if @header_category.present? %>
    <div>
      <%= link_to "Редактировать", edit_category_path(@username, @header_category.id), class:"edit_category_link" %>
      <%= link_to "Удалить", category_path(@username, @header_category.id), method: :delete, data: { confirm: "Вы уверены, что хотите удалить эту категорию?" }, class:"edit_category_link" %>
    </div>
    <div class="welcome_text">
      <%= @header_category.description %>
    </div>
  <% end %>


  <% @categories.each do |c| %>
      <% if c.destination == "basic" %>
        <div class="category">
          <%= link_to(category_posts_path(@username, c.path)) do %>
              <div class="center-cropped" style="background-image: url('<%= c.images[0].file.url %>');"></div>
          <% end %>
          <br>
          <%= link_to c.name, category_posts_path(@username, c.path), class:"category_name_link" %>
          <br>
          <%= link_to "Редактировать", edit_category_path(@username, c.id), class:"edit_category_link" %>
          <%= link_to "Удалить", category_path(@username, c.id), method: :delete, data: { confirm: "Вы уверены, что хотите удалить эту категорию?" }, class:"edit_category_link" %>
        </div>
      <% end %>
  <% end %>
  <p><%= link_to "Создать новую категорию", new_category_path(@username), class:"new_category_link" %></p>
</div>