<h2><%= @action == :update ? "Редактирование категории" : "Создание категории" %></h2>
<% if @category.errors.any? %>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @category, url: {action: @action}, html: { multipart: true }, method: @action == :update ? :PATCH : :POST  do |f| %>
    <table>
      <tr>
        <td>Название категории:</td><td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>Путь к категории:</td><td><%= f.text_field :path %></td>
      </tr>
      <tr>
        <td>Описание:</td><td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td>Картинка:</td>
        <td>
          <% if @category.images.present? %>
            <%= image_tag @category.images[0].file.url %>
        <% end %>
          <%= f.file_field :file %>
          <%= f.hidden_field :file_cache %>
        </td>
      </tr>
      <tr>
        <td><%= f.submit @action == :update ? "Изменить" : "Создать" %></td><td></td>
      </tr>
    </table>
<% end %>