<div class="all">
  <p><%= link_to t('upload_new_image'), new_image_path %></p>

  <% @images.each do |image| %>
    <p>
      <% if image.file.present? %>
        <div class="img_div"><%= link_to(image_tag(image.file.url, style:"max-width:600px;"), image_path(image)) %></div>
        <div class="filename_div"><%= image.file.current_path.split("/").last %></div>
      <% else %>
        Нет файла
      <% end %>
      <%= link_to t('delete'), image_path(image.id), method: :delete, data: { confirm: t('confirm_image_delete') } %>
    </p>
  <% end %>

  <%= will_paginate @images, :previous_label => t("previous"), :next_label => t("next")  %>
</div>