<div class="welcome_image_area">
  <h1>
    <div class="typewrite_div">
      <a class="typewrite" data-period="1000" data-type='[
      <% if @header_category.present? or @category.present? %>
        <% c = @header_category.present? ? @header_category : @category %>
        <% name = '' %>
        <% if I18n.locale == :en and c.english_name.present? %>
          <% name = c.english_name %>
        <% elsif c.name.present? %>
          <% name = c.name %>
        <% end %>
        <%= name.split("\\n").map{|x| "\"" + x + "\"" }.join(", ") %>
      <% end %>
       ]'
         <% c = @header_category.present? ? @header_category : @category %>

         style="color:<%= c ? c.color : 'white' %>;"
      >
        <span class="wrap"></span>
      </a>
    </div>
  </h1>
  <% c = @header_category.present? ? @header_category : @category %>
  <% if c.present? and c.black_arrow? %>
    <div class="arrow"><img src="/images/black_arrow.png" width="100px"></div>
  <% else %>
    <div class="arrow"><img src="/images/arrow.png" width="100px"></div>
  <% end %>
</div>

<% if @header_category.present? or @category.present? %>
    <% c = @header_category.present? ? @header_category : @category %>
    <style type="text/css">
      html {
        <% if c.images[0].present? %>
          background: url("<%= c.images[0].file.url %>") no-repeat center center fixed black;
        <% end %>
        background-size: cover !important;
      }
    </style>
<% end %>

<%= render partial: "layouts/header" %>

<% if @users.where(name: @username)[0].custom_css.present? %>
    <style type="text/css">
      <%= sanitize(@users.where(name: @username)[0].custom_css) %>
    </style>
<% end %>
