<div class="welcome_image_area">

    <div class="typewrite_div">
      <% if @header_category.present? or @category.present? %>
        <% c = @header_category.present? ? @header_category : @category %>
        <% if c.present? and c.no_typewrite %>
          <a class="no-typewrite" style="color:<%= c ? c.color : 'white' %>;">
            <% name = '' %>
            <% if I18n.locale == :en and c.english_name.present? %>
                <% name = c.english_name %>
            <% elsif c.name.present? %>
                <% name = c.name %>
            <% end %>
            <%= name.split("\\n").join(", ") %>
          </a>
        <% elsif c.present? %>
          <a class="typewrite" data-period="1000" data-type='[
            <% name = '' %>
            <% if I18n.locale == :en and c.english_name.present? %>
              <% name = c.english_name %>
            <% elsif c.name.present? %>
              <% name = c.name %>
            <% end %>
            <%= name.split("\\n").map{|x| "\"" + x + "\"" }.join(", ") %>

           ]'
           style="color:<%= c and c.color ? c.color : 'white' %>;"
          >
          <span class="wrap"></span>
          </a>
        <% end %>
      <% end %>
    </div>
  <% c = @header_category.present? ? @header_category : @category %>
  <% if c.present? and c.black_arrow? %>
    <div class="arrow"><img src="/images/black_arrow.png" width="100" alt="black_arrow"></div>
  <% else %>
    <div class="arrow"><img src="/images/arrow.png" width="100" alt="arrow"></div>
  <% end %>
</div>

<%= render partial: "layouts/header" %>