<div class="welcome_image_area">
  <h1>
    <div class="typewrite_div">
      <% if @header_category.present? or @category.present? %>
        <% c = @header_category.present? ? @header_category : @category %>
        <% if c.present? and c.no_typewrite %>
          <a class="no-typewrite" style="color:<%= c ? c.color : 'white' %>;">
            <% name = '' %>
            <% if I18n.locale == :en and c.english_name.present? %>
                <% name = c.english_name %>
            <% elsif c.name.present? %>
                <% name = c.name %>
            <% end %>
            <%= name.split("\\n").join(", ") %>
          </a>
        <% elsif c.present? %>
          <a class="typewrite" data-period="1000" data-type='[
            <% name = '' %>
            <% if I18n.locale == :en and c.english_name.present? %>
              <% name = c.english_name %>
            <% elsif c.name.present? %>
              <% name = c.name %>
            <% end %>
            <%= name.split("\\n").map{|x| "\"" + x + "\"" }.join(", ") %>

           ]'
           style="color:<%= c ? c.color : 'white' %>;"
          >
          <span class="wrap"></span>
          </a>
        <% end %>
      <% end %>
    </div>
  </h1>
  <% c = @header_category.present? ? @header_category : @category %>
  <% if c.present? and c.black_arrow? %>
    <div class="arrow"><img src="/images/black_arrow.png" width="100px"></div>
  <% else %>
    <div class="arrow"><img src="/images/arrow.png" width="100px"></div>
  <% end %>
</div>

<% if @header_category.present? or @category.present? %>
    <% c = @header_category.present? ? @header_category : @category %>
    <% unless c.images[0].present? %>
      <% c = c.user.categories.where(destination: "header")[0] %>
    <% end %>
    <style type="text/css">
      html {
        <% if c.images.present? and c.images[0].present? %>
          background: url("<%= c.images[0].file.url %>") no-repeat center center fixed black;
        <% end %>
        background-size: cover !important;
      }
    </style>
<% end %>

<%= render partial: "layouts/header" %>

<% if @users.where(name: @username)[0].custom_css.present? %>
    <style type="text/css">
      <%= sanitize(@users.where(name: @username)[0].custom_css) %>
    </style>
<% end %>
