<title>
  <% if @header_category.present? or @category.present? %>
      <% c = @header_category.present? ? @header_category : @category %>
      <% if c.present? and c.user.present? %>
          <%= c.user.name %>
      <% end %>
      <% if c.name.present? %>
          <%= " | " + c.name.split("\\n").join(" ") %>
      <% end %>
  <% end %>

</title>
<%= csrf_meta_tags %>
<%= favicon_link_tag %>

<%= stylesheet_link_tag    'categories', media: 'all' %>
<%= javascript_include_tag 'application' %>

<%= render partial: "layouts/yandex_metrika" %>