<!DOCTYPE html>
<html <% if I18n.locale == :en %> <%= 'lang="en"' %> <% else %> <%= 'lang="ru"' %> <% end %> >
<head>
  <title>Idzaaus</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>

<%= yield %>
</body>
</html>