<!DOCTYPE html>
<html <% if I18n.locale == :en %> <%= 'lang="en"' %> <% else %> <%= 'lang="ru"' %> <% end %> >
<head>
  <%= render partial: "layouts/very_header" %>
</head>

<body>
<%= render partial: "layouts/yandex_metrika" %>
<%= render partial: "layouts/header_with_image" %>

</body>
</html>