<!DOCTYPE html>
<html>
<head>
  <title>TivelWebsite</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'images', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="all_and_header">
  <div class="inner">
  <div class="header">
    <div class="link_div"><%= link_to "Главная", users_path, class:"menu_link" %></div>
    <% @users.each do |u| %>
        <div class="link_div">
          <%= link_to u.name, main_page_path(u.name), class:"menu_link", id:u.name %>
        </div>
    <% end %>
    <div class="link_div"><%= link_to "Редактировать изображения", images_path, class:"menu_link", id:"images_link" %></div>
  </div>
  <%= yield %>
  <div class="up_images"><a class="up_link">Наверх</a></div>
  </div>
</div>
</body>