<!DOCTYPE html>
<html>
<head>
  <title>Idzaaus</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'images', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= render partial: "layouts/yandex_metrika" %>
</head>

<body>
<%= render partial: "layouts/header" %>
</div>
</body>