<!DOCTYPE html>
<html>
<head>
  <title>TivelWebsite</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'users', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<img class="bg" src="http://i.imgur.com/JNSG7Ul.jpg">
<div class="admin_header">
  <p><%= link_to "Редактировать пользователей", users_path %></p>
  <p><%= link_to "Редактировать изображения", images_path %></p>
</div>

<%= yield %>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
</body>
</html>


