<!DOCTYPE html>
<html>
<head>
  <title>Idzaaus</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'users', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter45520413 = new Ya.Metrika({
            id:45520413,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
          });
        } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/45520413" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</head>

<body class="preload">
<img class="bg" src="/images/main_background.jpg">

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

</body>
</html>


